<div style="width:70%; min-width:400px; max-width:850px; margin:50px auto">
  <div class="about-holder">
    <h3>About Page</h3>
    <br />
    <p>Untold was created primarily for the vision-impaired but also for anyone to <%= link_to "submit requests", requests_open_path %> of things they want visually described or view <%= link_to "answered requests", requests_answered_path %>. Other users can then submit descriptions for each and any request.</p>
    <p>Untold allows users to also upload images. When developing Untold, a vision-impaired person told me they often come across images online that they are curious about; they want to know details about the image. Oftentimes, sites are not accessible as well and lack alt tags on their images. That is why on this site, users can also upload images via link or file upload and ask questions about it.</p>
    <br/>
    <h4>Resources</h4>
    
    <ol><li><a href="https://www.boia.org/blog/5-quick-ways-to-self-check-the-accessibility-of-a-website">https://www.boia.org/blog/5-quick-ways-to-self-check-the-accessibility-of-a-website</a></li><li><a href="https://color.a11y.com/ContrastPair/?bgcolor=1B1D1E&fgcolor=E27D53">https://color.a11y.com/ContrastPair/?bgcolor=1B1D1E&fgcolor=E27D53</a></li></ol>
    </p>
    <br/>
    <h4>GitHub</h4>
    <p>
      This site was created with Ruby on Rails by Morgan Waites. View the GitHub repository <a href="https://github.com/mellowmorgan/untold-app">here</a>!
    </p>
  </div>
</div>