<div class="row">
<div class="col-md-2 left-col">
<div class="categories">
<h3>Categories</h3>
<div class="category">Popular</div>
<div class="category">Nature</div>
<div class="category">Landmarks</div>
<div class="category">Animals</div>
<div class="category">Objects</div>
<div class="category">Buildings</div>
<div class="category">Miscellaneous</div>
</div>
</div>
<div class="col-md-6">
<div>
<% if @requests_published.any? %>
  <h3>Answered Requests</h3>
  <% @requests_published.each do |request| %>
    <div class="published-request"><%= request.content %></div>
  <% end %>
<% end %>
</div>


</div>
<div class="col-md-4" style="background-color:gray">
<div>
<% if @requests_approved.any? %>
  <h3>Open Requests</h3>
  <% @requests_approved.each do |request| %>
    <div class="open-request"><%= request.content %></div>
  <% end %>
<% end %>
</div>
</div>
</div>






