<div class="my-container">
<div class="row">
<div class="col-md-2 left-col">
<div class="categories">
<h3><span style="margin-left:20px;">Categories</span></h3>
<div class="category">Popular</div>
<div class="category">Nature</div>
<div class="category">Landmarks</div>
<div class="category">Animals</div>
<div class="category">Objects</div>
<div class="category">Buildings</div>
<div class="category">Miscellaneous</div>
</div>
</div>
<div class="col-md-6">
<div>

<% if @requests_published.any? %>
  <h3><span style="margin-left:20px;">Answered Requests</span></h3>
  <% @requests_published.each do |request| %>
    <div class="published-request"><%= request.content %>
    <% request.descriptions.each do |desc|%>
      <div class="answer-home"><%= desc.content %></div>
    <% end %>
    </div>
  <% end %>
<% end %>
</div>


</div>
<div class="col-md-4">
<div>
<% if @requests_approved.any? %>
  <h3><span style="margin-left:20px;">Open Requests</span></h3>
  <div class="have-a-request"><a href="#">add a request</a></div>
  <% @requests_approved.each do |request| %>
    <div class="open-request"><%= request.content %> 
    <div><button>Answer</button></div>
    <div>thumbs up | 25 | report</div></div>
    
  <% end %>
<% end %>
</div>
</div>
</div>
</div>





