<% if requests_published.any? %>
  <h3><span style="margin-left:20px;">Answered Requests</span></h3>
  <% requests_published.each do |request| %>
    <div class="published-request"><%= request.content %>
    <div class="answer-home"><%= request.descriptions.order("rating DESC").first.content %></div>

    </div>
  
  <% end %>
  <% else %>
    <p>No requests found.</p>
<% end %>