<% if requests_approved.any? %>
  <% requests_approved.each do |request| %>
    <%= link_to request_path(request) do %>
    <div class="open-request"><h3><%= request.content %> </h3><% end %>
    <% if request.image.attached? %>
          <%= image_tag request.image, class:"request-open-image-show",alt:"image that goes with request: #{request.content}" %>
          <% end %>
    <div style="text-align:right"><button class="btn btn-light">Answer</button></div>
    </div>
  <% end %>
  <% else %>
  <div style="margin:40px;text-align:center;"> <h4>No requests found.</h4></div>
<% end %>