<div id="published-requests-section">
  <% if requests_published.any? %>
    <h3><span style="margin-left:20px;">Answered Requests</span></h3>
    <% requests_published.each do |request| %>
      <%= link_to request_path(request) do %>
        <div class="published-request">
          <h3><%= request.content %></h3>
            <div class="answer-home">
              <%= request.descriptions.order(created_at: :desc).first.content %>
            </div>
            
          </div>
        <% end %>
        
      

  <% end %>
  <% else %>
  <p>No requests found.</p>
<% end %>
</div>
